@font-face {
  font-family: "Nanum Gothic";
  src: url("./fonts/NanumGothic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nanum Gothic";
  src: url("./fonts/NanumGothicLight.otf") format("opentype");
  font-weight: light;
  font-style: light;
  font-display: swap;
}

@font-face {
  font-family: "Nanum Gothic";
  src: url("./fonts/NanumGothicBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nanum Gothic";
  src: url("./fonts/NanumGothicExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Nanum Gothic", sans-serif;
}

#root {
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  color: black;
  box-sizing: border-box;
  padding: 20px;
  min-height: 100vh;

  ::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
  }
}